* text=auto

*.md text eol=lf
*.drawio text eol=lf
*.json text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.php text eol=lf
*.js text eol=lf
*.css text eol=lf

*.docx binary
*.xlsx binary
*.zip binary
